# Start command: composer update --classmap-authoritative && vendor/bin/phpstan analyze

includes:
    # https://github.com/phpstan/phpstan/blob/master/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    checkMissingIterableValueType: false
    autoload_files:
        - %currentWorkingDirectory%/tests/phpstan/bootstrap.php
        - %currentWorkingDirectory%/internals/functions.php
        - %currentWorkingDirectory%/internals/debug.php
        - %currentWorkingDirectory%/vendor/cmb2-grid/Grid/Cmb2Grid.php
    paths:
        - %currentWorkingDirectory%/
    excludes_analyse:
        # TODO Restructure main plugin file
        - %currentWorkingDirectory%/leasepress.php
        - %currentWorkingDirectory%/uninstall.php
        - %currentWorkingDirectory%/vendor/
        - %currentWorkingDirectory%/tests/
    ignoreErrors:
        # TODO No typehints
        - '# has no return typehint specified\.$#'
        # Less import errors
        - '/^Parameter #1 \$file of function plugin_dir_path expects string, string\|false given\.$/'
        - '/^Parameter #1 \$array_arg of function end is passed by reference, so it expects variables only\.$/'
        - '#Argument of an invalid type array\|int supplied for foreach, only iterables are supported\.#'
        - '#Access to an undefined property object::\$pending\.#'
