// This stylesheet is used to style the admin of WordPress.

// Dashboard

#dashboard_right_now a.demo-count::before {
  content: "\f115";
}

.resource-lp {
  &.wrap {
	margin: 0;
  }

  .wrapper {
	max-width: 1280px;
	margin-left: 30px;
  }

  .header-wrap {
	background: rgba(#676c73, 0.5);
	padding: 30px 0;
  }

  .flex-container {
	align-items: center;
	list-style: none;
	display: flex;
  }

  .flex {
	display: flex;
	flex-wrap: wrap;
  }

  .flex-grow {
	flex-basis: auto;
  }

  .flex-col {
	flex: 1 1;
  }

  .grid-container {
	display: grid;
  }

  h1 {
	font-size: 1.3125rem;
	font-weight: 500;
	padding: 0;
	letter-spacing: 0.5px;
  }
}

#resource-lp-main {
  margin-left: -20px;

  @media screen and (max-width: 782px) {
	margin-left: -10px;
  }
}
