// This stylesheet is used to style the admin of WordPress.

// Dashboard

.lp {
  &.wrap {
	margin: 0;
  }

  .wrapper {
	max-width: 1280px;
	margin-left: 30px;
  }

  .header-wrap {
	background: rgba(#676c73, 0.3);
	padding: 30px 0;
  }

  .flex-container {
	align-items: center;
	list-style: none;
	display: flex;
  }

  .flex {
	display: flex;
	flex-wrap: wrap;
  }

  .flex-grow {
	flex-basis: auto;
  }

  .flex-col {
	flex: 1 1;
  }

  .grid-container {
	display: grid;
  }

  .container-shadow {
	background: #fff;
	border: 1px solid #d6d6d6;
	box-shadow: 0 2px 8px 0 rgb(0 0 0 / 5%), 0 2px 1px 0 rgb(0 0 0 / 5%);
	border-radius: 4px;
	padding: 1rem 1.5rem;
	margin-bottom: 1.5rem;
  }

  h1 {
	font-size: 1.3125rem;
	font-weight: 500;
	padding: 0;
	letter-spacing: 0.5px;
  }

  .cmb-th {
	padding-bottom: 0;
	width: auto;
	float: none;
  }

  .cmb-td {
	padding: 0;
  }
}

#lp-main {
  margin-left: -20px;

  @media screen and (max-width: 782px) {
	margin-left: -10px;
  }
}
